IndexIgnore * # prevent directory listing

Order deny,allow
Allow from *

# ------------------------------------------
# Hide PHP extension
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
